
body{
    background-color: #eaeaea;
}

.login-form{
    padding: 30px;
}

.card-login{
    margin: 0 auto;
    margin-top: 150px;
}

.login-footer{
    padding: 30px;
}

.login-footer a{
    font-weight: bold;
}

.body-content{
    margin-top: 100px !important;
    background-color: white;
    padding: 15px;
}

.logo-header{
    width: 100px;
    height: auto;
}